{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "camelcase": "off",
    "unicorn/prefer-logical-operator-over-ternary": "off",
    "unicorn/no-array-for-each": "off",
    "perfectionist/sort-classes": "off"
  }
}
