- hosts: {{ project_name }}-web
  become: true
  vars:
    - _domain_name: www.{{ project_name }}.local
    - _env_type: dev
    - project_name: {{ project_name }}
    - rkhunter:
        allow_ssh_root_user: prohibit-password
    - mysql_client:
        host: {{ project_name }}-db
        user: root
        password: ce-dev
  {% raw %}
    - nginx:
        domains:
          - server_name: "{{ _domain_name }}"
            access_log:  "/var/log/nginx-access.log"
            error_log:  "/var/log/nginx-error.log"
            error_log_level:  "notice"
            webroot:  "/home/ce-dev/deploy/live.local/web"
            project_type:  "drupal8"
            ssl:
              domain: "{{ _domain_name }}"
              cert: "{{ _ce_dev_mkcert_base}}/{{ _domain_name }}.pem"
              key: "{{ _ce_dev_mkcert_base}}/{{ _domain_name }}-key.pem"
              handling: "unmanaged"
            ratelimitingcrawlers: false
            is_default: true
            servers:
              - port: 80
                ssl: false
                https_redirect: true
              - port: 443
                ssl: true
                https_redirect: false
            upstreams: []
    - php:
        version:
          - 8.1
        cli:
          memory_limit: -1
          _env_type: dev
        fpm:
          _env_type: dev
    - xdebug:
        cli: true
    - apt_unattended_upgrades:
        enable: false
{% endraw %}
  tasks:
    - ansible.builtin.apt:
        update_cache: true
    - ansible.builtin.import_role:
        name: _meta/common_base
    - ansible.builtin.import_role:
        name: mysql_client
    - ansible.builtin.import_role:
        name: php-cli
    - ansible.builtin.import_role:
        name: php-fpm
    - ansible.builtin.import_role:
        name: nginx
    - ansible.builtin.import_role:
        name: frontail
