---

- hosts: {{ project_name }}-{{ project_name }}
  become: true
  vars:
    - project_name: {{ project_name }}
    - _domain_name: www.{{ project_name }}.local
    - _env_type: dev
    - rkhunter:
        allow_ssh_root_user: prohibit-password
    - lhci:
        enable_vnc: true
    - nodejs:
        version: 14.x
  tasks:
    - apt:
        update_cache: true
    - import_role:
        name: _meta/common_base
    - import_role:
        name: lhci
    - import_role:
        name: frontail
