---

- hosts: {{ project_name }}-{{ project_name }}
  become: true
  vars:
    - project_name: {{ project_name }}
    - _domain_name: www.{{ project_name }}.local
    - _env_type: dev
    - lhci:
        enable_vnc: true
  pre_tasks:
    # Debian has nodejs 12.x installed by default.
    - name: Remove "node" package installed by default
      ansible.builtin.apt:
        name: nodejs
        state: absent
        purge: true
  tasks:
    - apt:
        update_cache: true
    - import_role:
        name: _meta/common_base
    - import_role:
        name: lhci
    - import_role:
        name: frontail
