<?php

/**
 * Include default settings.
 */
require __DIR__ . '/default.settings.php';

$databases['default']['default'] = array (
  'database' => '{{ build_databases[0].name }}',
  'username' => '{{ build_databases[0].user }}',
  'password' => '{{ build_databases[0].password }}',
  'prefix' => '',
  'host' => '{{ build_databases[0].host }}',
  'port' => '3306',
  'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  'driver' => 'mysql',
);

$settings['file_private_path'] = '{{ build_private_file_path }}';
$settings['file_public_path'] = '{{ build_public_file_path }}';
