- hosts: {{ project_name }}-web
  become: true
  vars:
    _domain_name: www.{{ project_name }}.local
    _env_type: dev
    project_name: {{ project_name }}
    rkhunter:
      allow_ssh_root_user: prohibit-password
    mysql_client:
      host: {{ project_name }}-db
      user: root
      password: ce-dev
  {% raw %}
    nginx:
      domains:
        - server_name: "{{ _domain_name }}"
          access_log:  "/var/log/nginx-access.log"
          error_log:  "/var/log/nginx-error.log"
          error_log_level:  "notice"
          webroot:  "/home/ce-dev/deploy/live.local/web"
          project_type:  "drupal8"
          ssl:
            domain: "{{ _domain_name }}"
            cert: "{{ _ce_dev_mkcert_base}}/{{ _domain_name }}.pem"
            key: "{{ _ce_dev_mkcert_base}}/{{ _domain_name }}-key.pem"
            handling: "unmanaged"
          ratelimitingcrawlers: false
          is_default: true
          servers:
            - port: 80
              ssl: false
              https_redirect: true
            - port: 443
              ssl: true
              https_redirect: false
          upstreams: []
    php:
      version:
        - 7.4
      cli:
        memory_limit: -1
        _env_type: dev
      fpm:
        _env_type: dev
    xdebug:
      cli: true
      fpm: true
    lhci:
      enable_vnc: true
    apt_unattended_upgrades:
      enable: false
{% endraw %}
  pre_tasks:
    # Debian has nodejs 12.x installed by default.
    - name: Remove "node" package installed by default
      ansible.builtin.apt:
        name: nodejs
        state: absent
        purge: true
  tasks:
    - ansible.builtin.apt:
        update_cache: true
    - ansible.builtin.import_role:
        name: _meta/common_base
    - ansible.builtin.import_role:
        name: mysql_client
    - ansible.builtin.import_role:
        name: php-cli
    - ansible.builtin.import_role:
        name: php-fpm
    - ansible.builtin.import_role:
        name: nginx
    - ansible.builtin.import_role:
        name: lhci
    - ansible.builtin.import_role:
        name: frontail
